on boot
    chown system system /sys/class/leds/lcd-backlight/max_brightness

service vendor.light-service /vendor/bin/hw/android.hardware.light-service.xiaomi_sdm660
    class hal
    user system
    group system
    shutdown critical
